{% extends "base.html" %}

{% block content %}
<h1>About the Author</h1>
<p>Donald J. Trump, born June 14, 1946, is an American businessman, TV personality, and politician who served as the 45th U.S. President from 2017 to 2021. Known for his real estate empire and hosting "The Apprentice," his presidency focused on immigration reform, economic deregulation, and an "America First" policy. Post-presidency, Trump remains a significant and controversial figure in U.S. politics.</p>
<h1>About Me</h1>
<p>Yubo Qiu is the creator of this application, and this page provides more context about the project.</p>
<p>This page is intended solely for entertainment purposes as a prank. It is not meant to be taken seriously, and any information or statements presented on this page are fictional. The creators of this page do not assume any legal responsibility for any consequences arising from the use or interpretation of the content. By continuing to view this page, you acknowledge that this is a prank, and you agree that the creators shall not be held liable for any damages or misunderstandings.</p>
<p>If you take it seriously, sucks to be you.</p>
{% endblock %}
